h1{
  
  position: fixed;
    left: 30%;
    top: 0%;
 font-size:200%;
    background: darkblue;
  font-family: "Impact", Georgia, Bold;
  color: lightgreen;
  text-align:center;

    
}

h2{
  font-family: "Arial", Georgia, Bold;
}


h6{
   position: fixed front;
  
}
body{
  background:moccasin;
}

ul {
    list-style-type: none;
    margin: 5% auto;
  width:830px;
    padding: 10;
    overflow: hidden;
    background-color: LightSeaGreen;
  font-family: "Courier New", Georgia, Bold;
  font-size:110%;
  
}

li {
    float: left;
  margin: auto;
}

li a {
    display: block;
    color: navy;
    text-align: center;
    padding: 20px 16px;
   margin: auto;
}


li a:hover {
    background-color: darkgreen;
}
.active {
    background-color: black;
}