

body{
  background-color: LightYellow;
}

header{
  font-family: "Impact", Georgia, Bold;
  font-size:500%;
  color: MidnightBlue;
  background-color: Khaki;
  text-decoration: underline;
  text-align: center;
}


h2{
   font-family: "Papyrus", Times, serif;
  color: DarkSlateGray;
}

p{
  color: LightSeaGreen;
  font-family: "Arial", helvetica, sans-serif;
  font-size:150%
}

summary{
  color: DarkGreen;
  font-size:230%;
     font-family: "Copperplate", Georgia, Bold;
}

header3{
  font-family: "Courier New", Times, serif;
  font-size:100%;
  color: brown;
  background-color: AliceBlue;
  text-decoration: underline;
}

    


